html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}

 
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
 
html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
    margin: 0;
}
 
button {
    font-size: 13px;
}

/* https://developer.mozilla.org/en-US/docs/Learn_web_development/Extensions/Forms/Customizable_select
   https://developer.chrome.com/blog/a-customizable-select
*/
select,
::picker(select) {
  appearance:  base-select;
  border-radius: 0;
}

/*---------------------------------------------------------------------------------------
  header
---------------------------------------------------------------------------------------*/

header {
    background-color: var(--Color1);
    min-height: 40px;
}

.header-zone {
    display: flex;
    align-items: center;
    padding: var(--Page-Padding);    
    color: var(--White);
    font-weight: var(--SemiBold);
    height: 30px;
    min-height: 30px;
    gap: 8px;
}

.header-zone > a {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 4px;
}

.header-zone > :hover {
/*
  background-color: var(--Yellow);
  padding: 0 4px;
  color: black;
*/
  padding: 0 4px;
  border: 1px solid var(--Yellow);
}

.header-zone-border {
    border-top: 1px solid var(--Gray);
}


/*---------------------------------------------------------------------------------------
  footer
---------------------------------------------------------------------------------------*/
footer {
    background-color: var(--Black);
    min-height: 40px;
}

/*---------------------------------------------------------------------------------------
  page
---------------------------------------------------------------------------------------*/

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: var(--Page-Padding);
    min-height: 800px;
    flex-grow: 1;
}

.page-content {
    position: relative;
    display: flex;
    flex-grow: 1;
    width: 100%;
}

.page .page-caption {
    position: relative;
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.page .page-caption .page-title {
    position: relative;
    display: flex;
    font-size: 28px;
    font-weight: var(--HeavyBold);
    flex-grow: 1;
}

.field-group {
    position: relative;
    margin: 0 0 30px 0;
    width: 100%;
}

.field-group > .caption {
    position: relative;
    display: flex;
    flex-direction: column;
}

.field-group > .caption > .title {
    font-size: 22px;
    font-weight: var(--HeavyBold);
    margin: 0 0 25px 0;
}

.form-buttons {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: 0 0 30px 0;
    gap: 0.5em;
}

.form-buttons .btn-submit {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Yellow);
    height: 4em;
    padding: 0 2.8em;
}

.form-buttons .btn-submit:hover {
    background-color: var(--Black);
    color: var(--White);
}

a.button { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Yellow);
    height: 5em;
    padding: 0 2.8em;
}

a.button:hover {
    background-color: var(--Black);
    color: var(--White);
}

/*---------------------------------------------------------------------------------------
 
---------------------------------------------------------------------------------------*/

.language-selector {
    background-color: inherit;
    border-color: transparent;
}

/*---------------------------------------------------------------------------------------
 
---------------------------------------------------------------------------------------*/

table.data-list  { 
    border-collapse: collapse;
}

table.data-list th {
  text-align: left;
  background-color: var(--Color2) ; /* #04AA6D */
  color: white;
}

table.data-list th,
table.data-list td {
  border: 1px solid #dddddd;
  padding: 8px;
} 

table.data-list tr:nth-child(even){
    background-color: #f2f2f2;
}

table.data-list tr:hover {
    background-color: #dddddd;
}

table.data-list .actions {
    gap: 8px;
} 

table.data-list .actions > * {
    padding: 0 4px;
    
}

table.data-list .actions > *:hover {
     background-color: var(--Yellow);
}


/*---------------------------------------------------------------------------------------
                                      paging
---------------------------------------------------------------------------------------*/
.pager-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 120px;
    padding: 0 30px
}

.pager {
    position: relative;
    display: flex;
    gap: 3px;
}

.pager > * {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;    
}

.pager .fa {
    font-size: 28px;
}

.pager .btn-page-number {
    font-size: 15px;
    font-weight: bold;
    padding: 0 0 2px 0;
}

.pager .current-page {
    border: 1px solid var(--Yellow);
/*
    text-decoration: underline var(--Yellow) solid; 
    text-decoration-thickness: 4px;
    text-decoration-skip-ink: none;
    text-underline-offset: 8px;
*/
}

.pager .tp-Disabled {
    color: var(--GrayDark);
}

/*---------------------------------------------------------------------------------------
                                      menu
---------------------------------------------------------------------------------------*/

.menu {
  overflow: hidden;
}

.menu > a {
  float: left;  
  color: white;
  text-align: center;
  text-decoration: none;
}

.menu .item-list-container {
  float: left;
  overflow: hidden;
}

.menu .item-list-container .button-down {
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.menu > a:hover {
    /* color: black; */
} 

.menu > * > .button-down:hover {
    /* color: black; */
} 

.menu .item-list-container:hover .button-down {
  /* background-color: red; */
  background-color: inherit;
}



.menu .item-list {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menu .item-list > a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.menu .item-list a:hover {
  background-color: #ddd;
}

.menu .item-list-container:hover > .item-list {
  display: block;
}

.menu a.separator {
    height: 2px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e5e5e5;
    font-size: 1px;
}