html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.site-header {
    background-color: lightsteelblue;
    min-height: 40px;
}
 
.site-footer {
    background-color: lightsteelblue;
    min-height: 40px;
}

.page-content {
    position: relative;
    display: flex;
    flex-grow: 1;
    width: 100%;
}


html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
    margin: 0;
}
 