@{
    ViewData["Title"] = "Error";
}

<div style="display: flex; justify-content: center; padding: 25px; min-height: 400px;">
    <div style="display: flex; flex-direction: column;">
        <h1>Oups! something went wrong.</h1>
        <br />

        <h2>An error occurred while processing your request. </h2>
        <br />

        <p>We apologize for the error. </p>
        <br />

        <p>Our staff will be immediately informed regarding the problem and we will try to resolved it as soon as possible. </p>
        <br />

        <p><strong>Reference Id:</strong> <code>@ViewData["RequestId"]</code></p>

    </div>
</div>


